
.ant-menu-item {
  float:left;

}


   
  
 

.bannerStoreDetails{
  width:100%;
  height:100%;
  display: flex;
  background-size: cover;
}

.banner{
  width:100%;
  height:100%;

  content :url('./img/pasosBannerFull.png' );
  
  
}

.bannerHome{
  width:100%;
  height:100%;
  display: flex;
  background-size: cover;
}

.bannercito{
  width: 100%;
  height:100%;
  content :url('./img/banner.png' );
  
  
}





.ant-carousel .slick-slide h3 {
  color: #fff;
}

.App {
  text-align: center;
}
 

.App-header{
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* .ant-form{
 width: 80% !important;

 margin-top:50px !important;
} */

#components-form-demo-normal-login .login-form {
  max-width: 500px;
 
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.ant-steps-item{
  flex:0 0 !important;
}

.ant-btn-block{
width: 150px !important;
height: 50px !important;
margin-top: 30px;
}


.ant-layout-header{
  background:white !important;
}


footer{
  flex-direction: row;
  position:relative;
  bottom:0;
  width:100%;
text-align: left !important;
}
section{
  height: 100px;
  margin-top: 5px;
  display:flex;
  
  

} 
.ayudaFooter p{
  justify-content:column;
 

  

}
.form-detail{
  width: 50%;
  margin: 50px auto;
  min-height: 60vh;
  padding: 40px 0;
  

}
.form-detail input{
  margin: 20px 0;
  
}

.btn{
  background-color: #7bdad5 !important;
  border:none !important;
  color:white !important;
  width: 150px;
  height: 50px;
  line-height: 1.499;
  line-height: 1.499;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  height: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
}
.btn-rosa{
  background-color: #fd9ba6 !important;
  border:none !important;
  color:white !important;
  width: 150px;
  height: 50px;
  line-height: 1.499;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  height: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
}
.products{
  padding: 40px 0;
  width: 80%;
  margin: 0 auto;
}
.banner-back{
  background-color: white;

  display: flex;
  align-items: flex-end;
}
.footer{
  padding: 20px 0;
}
.footer a{
  color:#424242;
}
.footer h2{
  color:#7bdad5;
}

